@import "tailwindcss";

@layer base {
  html {
    scrollbar-gutter: stable;
  }
}

*::selection {
  @apply bg-amber-300/50;
}

* {
  @apply text-pretty;
}

body {
  @apply max-w-5xl mx-auto size-full min-h-screen flex flex-col;
}

main {
  @apply px-5 flex-grow bg-amber-50/50 pb-20;
}

h1 {
  @apply font-bold text-4xl leading-8 my-10;
}

h2 {
  @apply font-bold text-3xl leading-7;
}

h2:not(.blog) {
  @apply my-8;
}

h3 {
  @apply font-semibold text-2xl leading-6;
}

h3:not(.blog) {
  @apply my-6;
}

h3.blog {
  @apply mt-3;
}

h4 {
  @apply font-semibold text-xl leading-6;
}

h4.blog {
  @appy mt-3;
}

h4:not(.blog) {
 @apply my-4;
}

h5 {
  @apply font-semibold text-lg leading-5 my-2;
}

.ident {
  @apply pl-5 border-l border-l-gray-300;
}

a {
  @apply md:hover:bg-amber-400/30 md:group-hover:bg-amber-400/50 py-1;
}

a:not(.blog):not(nav a) {
  @apply underline;
}

nav a {
  @apply h-12 items-center flex no-underline py-1 px-2;
}

ul {
  @apply list-disc ps-5 flex flex-col gap-1.5;
}

ul ul {
  @apply list-[circle] ps-5 gap-1.5;
}

li {
  @apply leading-5;
}
